<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main class="bg-light">

  <section class="banner-img-sm bg-tertiary-dark" style="--card-img: url('<%= bannerTopo %>')">
    <h1 class="light flex-item-full-row"><%= titulo %></h1>
    <p class="primary text-center text-bolder flex-item-full-row"><%= subtitulo %></p>
  </section>

</main>
<%- include('./partials/footer') %>